body {
    background-color: lightgray
}

.jumbotron {
    background-image: url("https://media.sciencephoto.com/image/c0282474/800wm/C0282474-Skin_Bacteria,_SEM.jpg");
    background-size: cover;
    
}

.jumbotron h1{
    color: white;
}

.jumbotron h3{
    color: white;
}

.well h4{
    color: black;
}

.panel-title {
    color: white;
    font-weight:bold;
} 